.header {
  box-shadow: rgb(0 0 0 / 20%) 0 2px 6px 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.header h1 {
    margin: 0;
    margin-left: 30px;
    line-height: var(--header-size);
}

@media screen and (max-width: 720px) {
    .header {
        height: 70px;
    }
    .header h1 {
        font-size: 25px;
        margin-left: 20px;
    }
}

.header button {
  margin-right: 0px;
  border-radius: 0px;
  background-color: #0075FF;
  color: white;
  width: 120px;   
  cursor: pointer;
}